.navbar-default{
    padding-top: 10px;
    background: #3b3a3a;
    border: transparent;
    box-shadow: 1px 1px 1px 1px dimgray;
    border-radius: 0;
    margin-bottom: 50px;
}

.fade{
    -webkit-opacity: 0.5;
    -moz-opacity: 0.5;
    -ms-opacity: 0.5;
    opacity: 0.5;
    color: black;
}

.navbar-default .navbar-brand{
    color: white;
    font-size: 2em;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    background: inherit;
    border-radius: 0 !important;
    color: white;
}

.navbar-brand a{
    color: white;
    text-decoration: none;
}

.navbar-brand a:hover, .navbar-brand a:focus{
    color: white !important;
}

.nav.navbar-nav li a {
    color: white;
    font-weight: bold;
}

.nav.navbar-nav .active a {
    color: white;
    font-weight: bold;
}

.navbar-nav > .active{
    border-bottom: 2px solid white;
}