.navbar-default{
    padding-top: 10px;
    background-color: transparent;
    border: transparent;
    border-radius: 0;
    margin-bottom: 50px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.show-nav{
    background-color: #3b3a3a;
}

.navbar-default .navbar-brand{
    color: white;
    font-size: 2em;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    background: inherit;
    border-radius: 0 !important;
    color: white;
}

.navbar-brand a{
    color: white;
    text-decoration: none;
}

.navbar-brand a:hover, .navbar-brand a:focus{
    color: white !important;
}

.nav.navbar-nav li a {
    color: white;
    font-weight: bold;
}

.nav.navbar-nav .active a {
    color: white;
    font-weight: bold;
}

.navbar-nav > .active{
    border-bottom: 2px solid white;
}

/*** ipad ***/
@media all and (min-width: 768px) and (max-width: 1024px) { 
    
}

/*** Smartphones ***/
@media all and (min-width: 480px) and (max-width: 767px) { 
    body{
        padding-top: 50px;
    }
    
    .navbar-default{
        background-color: #3b3a3a;
    }
}

/*** Smaller smartphones ***/
@media all and (max-width: 480px) { 
    body{
        padding-top: 50px;
    }
    .navbar-default{
        background-color: #3b3a3a;
    }
}